<!DOCTYPE html>
<html>
<head>
	<title>Face Detection!</title>
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<style>
body {
  background-image: url("{{ url_for('static',filename='bc2.jpg') }}");
  background-repeat: no-repeat;
  background-size: auto;
  border-image-width: 90%;
  
}
</style>
</head>

<body>
	<div class="body1">

<div class="wrap">

       <ul>
        	<div class="card">
				<div class="thefront">
					<img src="/static/logo10.png" style="width:90%";border-radius="20px" align="center">	
                   		<center><h3>FACIAL EXPRESSION DETECTION</h3></center>
                    	<center> <button style="color: darkblue"> <a href="/execute/"><C>Click here to detect facial expression and play music</C></a></button></center>
  				</div>	
	    	</div>
       </ul>
 </div>
</div>
</div>

<br>
<br>
</body>
</html>